<%= form_for task do |f| %>
    <%= render 'shared/error_messages', object: task %>
    <div>
      <%= f.label :content, (I18n.t 'content') %>
      <%= f.text_area :content, class: 'form-control'%>
    </div>

    <div>
      <%= f.label :priority, (I18n.t 'priority') %>
      <%= f.select :priority, Task::PRIORITY_HASH, class: 'form-control' %>
    </div>

    <div>
      <%= f.label :status, (I18n.t 'status') %>
      <%= f.select :status, Task::STATUS_HASH, class: 'form-control' %>
    </div>

    <div>
      <%= f.label :deadline, (I18n.t 'deadline') %>
      <%= f.datetime_select :deadline, class: 'form-control' %>
    </div>

    <div>
      <%= f.label :tags %>
      <%= f.text_field :tags, value: tags_string(task), html: {placeholder: 'tag1, tag2, ..'} %>
    </div>

    <div>
      <%= f.submit button, class: 'btn btn-primary' %>
    </div>
<% end %>