<%= render 'shared/task_filter_form', url: admin_tasks_path %>
<% if @tasks.empty? %>
<p>there is no task</p>
<% else %>
    <table>
      <thead>
        <td>#</td>
        <td>User</td>
        <td>Content</td>
        <td>Priority</td>
        <td>Status</td>
        <td>Tool</td>
      </thead>
      <% @tasks.each_with_index do |task, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to task.user.name, admin_user_path(task.user) %></td>
          <td><%= task.content %></td>
          <td><%= Task::PRIORITY_HASH.key(task.priority) %></td>
          <td><%= Task::STATUS_HASH.key(task.status) %></td>
          <td><%= link_to (I18n.t 'delete'), admin_task_path(task), method: 'delete', data: {confirm: (I18n.t 'confirm_delete')} %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @tasks %>
<% end %>